In [4]:
import pandas as pd

In [5]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])

In [7]:
s[[0,3,1]]

서울    9904312
대구    2466052
부산    3448737
dtype: int64

In [8]:
s[["서울", "대구", "부산"]]

서울    9904312
대구    2466052
부산    3448737
dtype: int64

In [9]:
s.서울

9904312

In [10]:
s.대구

2466052

In [12]:
 s[1:3]

부산    3448737
인천    2890451
dtype: int64

In [14]:
"서울" in s

True

In [15]:
for k, v in s.items():
    print(f"{k}={v}")

서울=9904312
부산=3448737
인천=2890451
대구=2466052

In [16]:
인구_2015 = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
인구_2010 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})

In [17]:
인구_2015-인구_2010

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [18]:
인구_2015.values-인구_2010.values

array([272830,  55546, 258416, 975894], dtype=int64)

In [21]:
ds = 인구_2015-인구_2010
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [22]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s['부산'] = 9900000
del s['서울']
s

부산    9900000
인천    2890451
대구    2466052
dtype: int64

In [23]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [24]:
df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [26]:
df["2005-2010 증가율"] = ((df["2010"] - df["2005"]) / df["2005"] * 100).round(2)
df

     지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99